.dark{
    position: absolute;
    background-color: rgba(172, 166, 166, 0.571);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.footer{
    position: fixed;
    top: 97%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffc107;
}

.header::after{
content: "";
background-color: #ffc107;
position: absolute;
top: 45%;
left: -20%;
width: 35px;
height: 5px;
}
.header::before{
content: "";
background-color: #ffc107;
position: absolute;
top: 45%;
right: -20%;
width: 35px;
height: 5px;
}

.sub_heading::after{
content: "";
background-color: #000000;
position: absolute;
top: -5px;
left: 0px;
right: 0px;
width: 100%;
height: 2px;
}

.sub_heading::before{
content: "";
background-color: #000000;
position: absolute;
bottom: -5px;
left: 0px;
right: 0px;
width: 100%;
height: 2px;
}